@import '../../assets/css/iconfont.less';
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 100px;
  height: 31px;
  margin: 16px 24px 16px 0;
  color: #fff;
  font-size: 28px;
  line-height: 25px;
  text-align: center;
  // background: rgba(255, 255, 255, 0.2);
  // border-radius: 10px;
}
[data-theme='dark'] .site-layout-content {
  background: #141414;
}
[data-theme='dark'] .logo {
  background: rgba(255, 255, 255, 0.3);
}
