@import '../../variable.less';

.@{prefix}-modal {
  z-index: @zindex-modal;
  .overlay(fixed);
}

.@{prefix}-modal-enter {
  animation: modalEnterAnimation cubic-bezier(0.7, 0.3, 0.1, 1) 300ms;
}

.@{prefix}-modal-leave {
  animation: modalLeaveAnimation cubic-bezier(0.7, 0.3, 0.1, 1) 300ms;
}

.@{prefix}-modal-mask {
  background-color: @modal-mask-background-color;
  .overlay(fixed);
}

.@{prefix}-modal-content {
  .initial();

  top: 0;
  display: block;
  width: auto;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  color: @text-color-secondary;
  background-color: @background-color-base;
  background-clip: padding-box;
  border-radius: @border-radius-base;
  box-shadow: @modal-box-shadow;
}

.@{prefix}-modal-top {
  .@{prefix}-modal-content {
    top: 15%;
  }
}

.@{prefix}-modal-center {
  .@{prefix}-modal-content {
    top: 50%;
    transform: translateY(-50%);
  }
}

.@{prefix}-modal-close {
  position: absolute;
  top: @modal-close-top;
  right: 0;
  color: @border-color-base;
  font-size: @font-size-x-lg;
  border: none;
  box-shadow: none;
}

.@{prefix}-modal-header {
  padding: @modal-header-padding;
  border-bottom: @border-width-base @border-style-base @border-color-light;
  & + .@{prefix}-modal-body {
    padding-top: @modal-body-padding-top-with-header;
  }
}

.@{prefix}-modal-title {
  color: @text-color-primary;
  font-weight: @modal-title-font-weight;
  font-size: @font-size-h5;
  .box();
}

.@{prefix}-modal-body {
  padding: @modal-body-padding;
  line-height: @line-height-base;
  word-wrap: break-word;
}

.@{prefix}-modal-footer {
  padding: @modal-footer-padding;
  text-align: right;
  & > .@{prefix}-button + .@{prefix}-button {
    min-width: @modal-footer-button-min-width;
    margin-left: @modal-footer-button-space;
  }
}

@keyframes modalEnterAnimation {
  from {
    top: -60px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalLeaveAnimation {
  to {
    top: -60px;
    opacity: 0;
  }
}
